html {
	background-color: #2f4f4f;
}

.red {
	color: red;
	font-size: 1.3em;
}

.grey {
	color: #e9e849;
}

.underline {
	text-decoration: underline;
	font-size: 1.3em;
}

canvas {
	background-color: transparent;
}

#canvas-container {
	width: 600;
	height: 400;
	margin: 0 auto;
	position: relative;
}

#birdWindow,
#background {
	top: 0;
	left: 0;
	position: absolute;
}

#background {
	z-index: 1;
}

#birdWindow {
	z-index: 2;
}

#stats {
	top: 0;
	left: 300;
	margin-top: 10px;
	margin-left: 10px;
	padding: 3px;
	position: absolute;
	background-color: rgba(212, 133, 233, 0.45);
	text-align: center;
	border-radius: 5px;
	z-index: 3;
}

#text-div {
	z-index: 4;
}

input,
input:focus {
	border-bottom: 0px solid transparent !important;
	width: 0px !important;
	color: transparent !important;

}



.typing-div {
	position: absolute;
	margin: 0 auto;
	margin-top: 250px;
	left: 5%;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.letter {
	padding: 5px;
}
