html {
	background-color: #2f4f4f;
}

.red {
	color: red;
	font-size: 1.3em;
}

.grey {
	color: #e9e849;
}

.underline {
	text-decoration: underline;
	font-size: 1.3em;
}

canvas {
	background-color: white;
}

canvas #background {
	background-color: transparent;
	z-index: 0;
}

p {
	color: black;
	z-index: 1000;
}

#stats {
	position: fixed;
	margin-left: 350px;
	height: 300px;
	width:100px;
	background-color: white;
}

#stats h6 {
	padding: 10px;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.letter {
	padding: 5px;
}
