html {
	background-color: #2E3D37;
}

body {
	font-family: 'PT Mono';
	color: #2E3D37;
	/*display: flex;*/
	/*min-height: 100vh;*/
	/*flex-direction: column;*/
}

/*
main {
 flex: 1 0 auto;
}*/

.header {
	background-color: #98824D;
	margin-bottom: 20px;
	padding-top: 25px;
}

.logo {
	color: #d485e9
}

.burn {
	color: #E5A200;
	text-shadow: -3px 0px 6px #d2691c
}

.my-red {
	color: red;
	text-decoration: underline;
	border: 1px solid #ed2b2b;
	background-color: #ffc8c8;
	border-radius: 3px;
}

.my-grey {
	color: #8f9d98;
}

.my-underline {
	text-decoration: underline;
	border: 1px solid #edc32b;
	background-color: #ffffff;
	border-radius: 3px;
}

canvas {
	background-color: transparent;
	box-shadow: -3px 3px 12px #1e2824;
	border-radius: 5px;
}

#canvas-container {
	width: 600;
	height: 400;
	margin: 0 auto;
	position: relative;
}

#birdWindow,
#background {
	top: 0;
	left: 0;
	position: absolute;
}

#background {
	z-index: 1;
}

#birdWindow {
	z-index: 2;
}

#stats {
	top: 0;
	left: 300;
	margin-top: 10px;
	margin-left: 10px;
	padding: 3px;
	position: absolute;
	background-color: rgba(212, 133, 233, 0.45);
	text-align: center;
	border-radius: 5px;
	z-index: 3;
}

#bonus-message {
	top: 0;
	left: 300;
	margin-top: 250px;
	padding: 3px;
	position: absolute;
	text-align: center;
	border-radius: 5px;
	z-index: 3;

}

.fixed {
	/*position:fixed;*/
	width: 600px;
	height: 400px;
}

#text-div {
	z-index: 4;
}

.challenge-text {
	font-size: 1.5em;
}

.instructions {
	color: black;
	text-align: center;
	background-color: #b6e6d8;
	border: solid;
	box-shadow: 5px 5px 5px orange;
}

.high-score-box {
	color: black;
	text-align: center;
	background-color: #b6e6d8;
	border: solid;
	box-shadow: 5px 5px 5px pink;
}

.you-have-high-score{
	color: white;
	text-align: center;
	font-size: 150%;
}

.typing-div {
	position: absolute;
	margin-top: 300px;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.letter {
	font-size: 1em;
}
